.header{
    display: flex;
    margin-top: 50px;
}
/* image style */
img{
    height: 500px;
    width: 500px;
    margin-left: 100px; 
}

/* update price style */
.price{
    display: flex;
    font-weight: bold;
}

/* hr style */
hr{
    width: 280px;
}
.hr{
    width: 1400px;
}

/* pomo code style */
input{
    width: 220px;
}

/* total section style */
#update{
   font-weight: bold;
   font-size: 25px;
}